<div class="page-logo">
    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
        <img class="minilogo" src="assets/img/eris-icon.svg" style="width:45px;" alt=""
            aria-roledescription="logo">
        <span class="page-logo-text mr-1 biglogo"><img src="assets/img/eris.svg" style="width:100px;"
                alt="eris" /></span>
        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
    </a>
</div>
<nav id="js-primary-nav" class="primary-nav" role="navigation">
    <div class="nav-filter">
        <div class="position-relative">
            <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
            <a href="#" onclick="return false;" class="btn-info btn-search-close js-waves-off" data-action="toggle"
                data-class="list-filter-active" data-target=".page-sidebar">
                <i class="fal fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="info-card">
        <!--<img src="img/avatar-admin.png" class="profile-image rounded-circle" alt="Chetan Soni">
        <div class="info-card-text">
            <a href="#" class="d-flex align-items-center text-white">
                <span class="text-truncate text-truncate-sm d-inline-block">
                    Chetan Soni
                </span>
            </a>
            <span class="d-inline-block text-truncate text-truncate-sm">Eris-HO, Ahmedabad</span>
        </div>
        <img src="img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">-->
        <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle"
            data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
            <i class="fal fa-search fa-xs"></i>
        </a>
    </div>
    <ul id="js-nav-menu" class="nav-menu">
        <li class="active open">
            <a href="#" title="Master" data-filter-tags="master">
                <i class="fal fa-window-alt"></i>
                <span class="nav-link-text" data-i18n="nav.master">Master</span>
            </a>
            <ul>
                <li class="active">
                    <a href="#" title="Emp Document Upload" data-filter-tags="master emp document upload">
                        <span class="nav-link-text" data-i18n="nav.master_emp_document_upload">Emp Document
                            Upload</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="General" data-filter-tags="master general">
                        <span class="nav-link-text" data-i18n="nav.master_general">General</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#" title="Geography" data-filter-tags="master geography sublevel item">
                                <span class="nav-link-text"
                                    data-i18n="nav.master_geography_sublevel_item">Geography</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Employee" data-filter-tags="master employee another item">
                                <span class="nav-link-text" data-i18n="nav.master_employee_another_item">Employee</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="Doctor" data-filter-tags="master doctor">
                        <span class="nav-link-text" data-i18n="nav.master_doctor">Doctor</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#" title="Category" data-filter-tags="master category sublevel item">
                                <span class="nav-link-text"
                                    data-i18n="nav.master_category_sublevel_item">Category</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Specialty" data-filter-tags="master specialty another item">
                                <span class="nav-link-text" data-i18n="nav.master_specialty_another_item">
                                    Specialty</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" title="Master Mapping" data-filter-tags="master master mapping">
                        <span class="nav-link-text" data-i18n="nav.master_master_mapping">Master
                            Mapping</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#" title="Manage Employee" data-filter-tags="master manage employee sublevel item">
                                <span class="nav-link-text" data-i18n="nav.master_manage_employee_sublevel_item">Manage
                                    Employee</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Stockist Map" data-filter-tags="master stockist map another item">
                                <span class="nav-link-text" data-i18n="nav.master_stockist_map_another_item">Stockist
                                    Map</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" title="Update" data-filter-tags="update">
                <i class="fal fa-edit"></i>
                <span class="nav-link-text" data-i18n="nav.update">Update</span>
            </a>
            <ul>

                <li>
                    <a href="#" title="Visit" data-filter-tags="visit">
                        <span class="nav-link-text" data-i18n="nav.visit">Visit</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="eLearning" data-filter-tags="elearning">
                        <span class="nav-link-text" data-i18n="nav.elearning">eLearning</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="LHA" data-filter-tags="lha">
                        <span class="nav-link-text" data-i18n="nav.lha">LHA</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#" title="Session Plan" data-filter-tags="lha session plan sublevel item">
                                <span class="nav-link-text" data-i18n="nav.lha_session_plan_sublevel_item">Session
                                    Plan</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Session Plan Approval"
                                data-filter-tags="lha aession plan approval another item">
                                <span class="nav-link-text"
                                    data-i18n="nav.lha_session_plan_approval_another_item">Session Plan
                                    Approval</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Session Reporting" data-filter-tags="lha session reporting another item">
                                <span class="nav-link-text" data-i18n="nav.lha_session_reporting_another_item">Session
                                    Reporting</span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" title="Internal Correspondence" data-filter-tags="internal correspondence">
                <i class="fal fa-comments"></i>
                <span class="nav-link-text" data-i18n="nav.internal_correspondence">Internal
                    Correspondence</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0);" title="Message" data-filter-tags="message">
                        <span class="nav-link-text" data-i18n="nav.message">Message</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" title="Upload" data-filter-tags="upload">
                <i class="fal fa-upload"></i>
                <span class="nav-link-text" data-i18n="nav.upload">Upload</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0);" title="Primary Sales" data-filter-tags="master primary sales">
                        <span class="nav-link-text" data-i18n="nav.primary_sales">Primary Sales</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Secondary Sales" data-filter-tags="secondary sales">
                        <span class="nav-link-text" data-i18n="nav.secondary_sales">Secondary Sales</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Targets Old" data-filter-tags="targets old">
                        <span class="nav-link-text" data-i18n="nav.targets_old">Targets Old</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Career Upload" data-filter-tags="career upload">
                        <span class="nav-link-text" data-i18n="nav.career_upload">Career Upload</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" title="Reports" data-filter-tags="reports">
                <i class="fal fa-chart-bar"></i>
                <span class="nav-link-text" data-i18n="nav.reports">Reports</span>
            </a>
            <ul>
                <li>
                    <a href="#" title="Key Reports" data-filter-tags="report key reports">
                        <span class="nav-link-text" data-i18n="nav.report_key_reports">Key Reports</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Employee Activity" data-filter-tags="report employee activity">
                        <span class="nav-link-text" data-i18n="nav.report_employee_activity">Employee
                            Activity</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" title="Switch User" data-filter-tags="switch user">
                <i class="ni ni-users"></i>
                <span class="nav-link-text" data-i18n="nav.switch_user">Switch User</span>
            </a>
        </li>

        <li>
            <a href="#" title="Guide" data-filter-tags="guide">
                <i class="fal fa-info-circle"></i>
                <span class="nav-link-text" data-i18n="nav.guide">Guide</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0);" title="Documents" data-filter-tags="documents">
                        <span class="nav-link-text" data-i18n="nav.documents">Documents</span>
                    </a>
                </li>

            </ul>
        </li>

    </ul>
    <div class="filter-message js-filter-message bg-success-600"></div>
</nav>
<div class="nav-footer shadow-top">
    <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
        <i class="ni ni-chevron-right"></i>
        <i class="ni ni-chevron-right"></i>
    </a>
    <div class="logo_ecubix">
        <img src="assets/img/ecubix_white.svg" alt="" height="25" /> <br />
        <span>Version: 22.2.40000</span>
    </div>
</div>