 <!-- BEGIN Page Footer -->
 <footer class="page-footer" role="contentinfo">
    <!--<div class="container-fluid">
        <div class="main-footer">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-lg-left text-md-left text-sm-left">
                    <img src="img/ecubix-logo.svg" alt="eCubix" width="65">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-lg-right text-md-right text-sm-right footer-text ecubix-link">
                    <div class="text-lg-right d-sm-none d-md-block d-lg-block d-xs-none">
                        © 2020 <a href="https://www.ecubix.com/" target="_blank" class="ecubix-link">Value Chain Solution (India) Pvt. Ltd.</a>
                    </div>
                    <div class="text-lg-right d-sm-block d-md-none d-lg-none">
                        © 2020 <a href="https://www.ecubix.com/" target="_blank" class="ecubix-link">VCS PVT. LTD.</a>
                    </div>
                </div>

            </div>
        </div>
    </div>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <span class="fw-600">Version:22.2.40000</span>
            </div>
            <div class="col-6 text-right">
                Powered by &nbsp; <img src="assets/img/ecubix-logo.svg" alt="ecubix" height="20">
            </div>
        </div>
    </div>
</footer>
<!-- END Page Footer -->